body {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
<<<<<<< HEAD
  background-color: ;
  background-image: url("https://i.imgur.com/KUcAy6n.png");
=======
  /* background-color: black; */
  /* background-image: url('/images/bannercar.jpg'); */
>>>>>>> upstream/master
}

h1 {
  background-color: green;
}

a {
  text-decoration: none;
}

form {
  margin-left: 300px;
  width: 60%;
}

.backgroundImage {
  background-color: black;
  background-image: url('images/bannercar.jpg');
  height: 100%;
  width: 100%;
  padding: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.backgroundBox {
  height: 500px;
}
