body {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url("images/background_leather.png");
}

hr {
  margin: -100px 0px 40px 0px;
}

a {
  text-decoration: none;
  color: black;
}

form {
  margin-left: 300px;
  width: 60%;
}

.buttons {
  position: relative;
    bottom: 90px;
}

.backgroundImage {
  background-color: black;
  background-image: url('images/bannercar.jpg');
  height: 90%;
  width: 100%;
  padding: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.backgroundBox {
  height: 500px;
  /* margin-top: 100px; */
}

.uploadedImage {
  position: relative;
    left: 300px;
    bottom: 300px;
}

.profileCars {
  position: relative;
    right: 300px;
}
