{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Xotix</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cars.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  </head>
  <body>
	<h1>Xotix Car Finder</h1>
    <div class='backgroundBox'>
      <div class='backgroundImage'>
      </div>
    </div>
    <div class='buttons'>
      {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'profile' user.username %}" role="button">Hello, {{ user.username }}!</a>
      <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
      {% else %}
      <a class="btn btn-primary" href="{% url 'login' %}" role="button">Login</a>
      {% endif %}


    <a class="btn btn-primary" href="{% url 'buyersignup' %}" role="button">Signup</a>
  </div>
		{% block content %}

		{% endblock %}


    <footer>
      All Rights Reserved, Xotix 2018
    </footer>
  </body>
  </html>
