
{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

    <form action="post_url/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    <hr />

  {% for car in cars %}
  <a href="/{{car.id}}">
    <p>Make: {{ car.make }}</p>
    <p>Model: {{ car.model }}</p>
    <p>Year: {{ car.year }}</p>
    <p>Miles: {{ car.miles }}</p>
    <p>Price: {{ car.price }}</p>
  </a>
  <a href="/user/{{car.user.username}}"
      <p>Car Entered By: {{car.user.username }}</p>
    </a>
    <hr />
  {% endfor %}

{% endblock %}
