{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Xotix Car Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  </head>
  <body>
    <h1>Xotix Car Finder</h1>
    <a href="/user/{{car.user.username}}">Profile</a>
    <a href="/">Home</a>
    <hr />
    <h2> Make: {{ car.make }}</h1>
    <p> Model: {{ car.model }}</p>
    <p> Year: {{ car.year }}</p>
    <p> Miles: {{ car.miles }}</p>
    <p> Price: {{ car.price }}</p>

    {% for car in cars %}
    <a href="/{{car.id}}">
      <p>Make: {{ car.make }}</p>
      <p>Model: {{ car.model }}</p>
      <p>Year: {{ car.year }}</p>
      <p>Miles: {{ car.miles }}</p>
      <p>Price: {{ car.price }}</p>
    </a>
    <a href="/user/{{car.user.username}}"
        <p>Car Entered By: {{car.user.username }}</p>
      </a>
      <hr />
    {% endfor %}


  </body>
</html>
