{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Xotix Car Finder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="{% static 'cars.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

  </head>
  <body>
    <h1>Xotix Car Finder</h1>
    <div class='backgroundBox'>
      <div class='backgroundImage'>
      </div>
    </div>
    <div class='buttons'>
      <a class="btn btn-primary" href="/show" role="button">View All Inventory</a>
      <a class="btn btn-primary" href="{% url 'profile' user.username %}" role="button">Sell Car</a>
    </div>
    <div class='profileCars'>

      <h3> Make: {{ car.make }}</h3>
      <h3> Model: {{ car.model }}</h3>
      <h3> Year: {{ car.year }}</h3>
      <h3> Miles: {{ car.miles }}</h3>
      <h3> Price: {{ car.price }}</h3>
    </div>

      <img class='uploadedImage' src='{{ car.image.url }}' width='400' height='300'>
        <h2>Car Being Sold By: {{car.user.username }}</h2>

    <a href="/user/{{car.user.username}}"
      </a>




  </body>
</html>
