{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}

<h1>Our Inventory of Cars</h1>
    {% for car in cars %}

    <a href="/{{ car.id }}">
      <div class='profileCars'>
        <h3>Make: {{ car.make }}</h3>
        <h3>Model: {{ car.model }}</h3>
        <h3>Year: {{ car.year }}</h3>
        <h3>Miles: {{ car.miles }}</h3>
        <h3>Price: {{ car.price }}</h3>
      </div>
      <img class='uploadedImage' src='{{ car.image.url }}' alt='car' width='500' height='400'>
    </a>
    <hr />
    {% endfor %}

{% endblock %}
